name: release
on:
  push:
    tags: ['v*.*.*']
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Create archive
        run: |
          tar -czf uapi-sdk-cpp.tar.gz include CMakeLists.txt README.md
      - uses: softprops/action-gh-release@v2
        with:
          files: uapi-sdk-cpp.tar.gz
          generate_release_notes: true
